<div id="Tab1" class="tabcontent">
    <div class="" id="Starters">
    <h1 class="text-2xl text-center font-bold text-red-500 ">Starters</h1>
    <div class="grid grid-cols-3 px-60 py-11 space-x-8">
      <div
        class="container w-96 p-6 mr-auto ml-auto text-center space-y-5 hover:scale-105 transition-all"
      >
        <img class="w-80" alt="" src="assets/img/menu/menu-item-1.png" />
        <div class="space-y-1">
          <h1
            class="text-xl mr-auto ml-auto text-gray-800 font-semibold font-['Poppins']"
          >
            Magnam Tiste
          </h1>
          <h1 class="text-gray-600">Lorem, deren, trataro, filede, nerada</h1>
          <h1 class="text-2xl text-red-700 font-extrabold">$5.95</h1>
        </div>
      </div>
      <div
        class="container w-96 p-6 mr-auto ml-auto text-center space-y-5 hover:scale-105 transition-all"
      >
        <img class="w-80" alt="" src="assets/img/menu/menu-item-2.png" />
        <div class="space-y-1">
          <h1
            class="text-xl mr-auto ml-auto text-gray-800 font-semibold font-['Poppins']"
          >
            Aut Luia
          </h1>
          <h1 class="text-gray-600">Lorem, deren, trataro, filede, nerada</h1>
          <h1 class="text-2xl text-red-700 font-extrabold">$14.95</h1>
        </div>
      </div>
      <div
        class="container w-96 p-6 mr-auto ml-auto text-center space-y-5 hover:scale-105 transition-all"
      >
        <img class="w-80" alt="" src="assets/img/menu/menu-item-3.png" />
        <div class="space-y-1">
          <h1
            class="text-xl mr-auto ml-auto text-gray-800 font-semibold font-['Poppins']"
          >
            Est Eligendi
          </h1>
          <h1 class="text-gray-600">Lorem, deren, trataro, filede, nerada</h1>
          <h1 class="text-2xl text-red-700 font-extrabold">$8.95</h1>
        </div>
      </div>
      <div
        class="container w-96 p-6 mr-auto ml-auto text-center space-y-5 hover:scale-105 transition-all"
      >
        <img class="w-80" alt="" src="assets/img/menu/menu-item-4.png" />
        <div class="space-y-1">
          <h1
            class="text-xl mr-auto ml-auto text-gray-800 font-semibold font-['Poppins']"
          >
            Eos Luibusdam
          </h1>
          <h1 class="text-gray-600">Lorem, deren, trataro, filede, nerada</h1>
          <h1 class="text-2xl text-red-700 font-extrabold">$12.95</h1>
        </div>
      </div>
      <div
        class="container w-96 p-6 mr-auto ml-auto text-center space-y-5 hover:scale-105 transition-all"
      >
        <img class="w-80" alt="" src="assets/img/menu/menu-item-5.png" />
        <div class="space-y-1">
          <h1
            class="text-xl mr-auto ml-auto text-gray-800 font-semibold font-['Poppins']"
          >
            Eos Luibusdam
          </h1>
          <h1 class="text-gray-600">Lorem, deren, trataro, filede, nerada</h1>
          <h1 class="text-2xl text-red-700 font-extrabold">$12.95</h1>
        </div>
      </div>
      <div
        class="container w-96 p-6 mr-auto ml-auto text-center space-y-5 hover:scale-105 transition-all"
      >
        <img class="w-80" alt="" src="assets/img/menu/menu-item-6.png" />
        <div class="space-y-1">
          <h1
            class="text-xl mr-auto ml-auto text-gray-800 font-semibold font-['Poppins']"
          >
            Laboriosam Direva
          </h1>
          <h1 class="text-gray-600">Lorem, deren, trataro, filede, nerada</h1>
          <h1 class="text-2xl text-red-700 font-extrabold">$9.95</h1>
        </div>
      </div>
    </div>
  </div>
  </div>
