<div>
  <nav class="h-20 bg-white">
    <div class="flex justify-evenly items-center p-5">
      <h1 class="text-3xl font-extrabold">
        Yummy <span class="text-red-500">.</span>
      </h1>
      <ul class="flex space-x-8 font-bold">
        <li
          class="text-[#7F7F90] font-['poppins'] tracking-wide cursor-pointer hover:text-black"
        >
          Home
        </li>
        <li
          class="text-[#7F7F90] font-['poppins'] tracking-wide cursor-pointer hover:text-black"
        >
          About
        </li>
        <li
          class="text-[#7F7F90] font-['poppins'] tracking-wide cursor-pointer hover:text-black"
        >
          Menu
        </li>
        <li
          class="text-[#7F7F90] font-['poppins'] tracking-wide cursor-pointer hover:text-black"
        >
          Events
        </li>
        <li
          class="text-[#7F7F90] font-['poppins'] tracking-wide cursor-pointer hover:text-black"
        >
          Chefs
        </li>
        <li
          class="text-[#7F7F90] font-['poppins'] tracking-wide cursor-pointer hover:text-black"
        >
          Gallery
        </li>
        <li
          class="text-[#7F7F90] font-['poppins'] tracking-wide cursor-pointer hover:text-black"
        >
          Dropdown
        </li>
        <li
          class="text-[#7F7F90] font-['poppins'] tracking-wide cursor-pointer hover:text-black"
        >
          Contact
        </li>
      </ul>
      <button
        class="px-6 py-2 rounded-3xl bg-red-600 text-white text-sm font-bold hover:shadow-2xl hover:shadow-red-500 hover:bg-red-500"
      >
        Book a Table
      </button>
    </div>
  </nav>
  <div class="bg-[#EEEEEE] h-[17cm] flex justify-evenly">
    <div class="mb-auto mt-auto">
      <div class="space-y-6">
        <h1 class="text-5xl font-serif text-[#37373F]">
          Enjoy Your Healthy<br />
          Delicious Food
        </h1>
        <h1 class="text-[#676770]">
          Sed laudantium dolores. Voluptatem itaque ea consequatur<br />
          eveniet. Eum quas beatae cumque eum quaerat.
        </h1>
        <div class="space-x-5 flex items-center">
          <button
            class="px-6 py-2 rounded-3xl bg-red-600 text-white text-sm font-bold hover:shadow-2xl hover:shadow-red-500 hover:bg-red-500"
          >
            Book a Table
          </button>
          <div class="space-x-2 flex">
            <img class="" alt="" src="/assets/img/playbutton.ico" />
            <button class="text-black font-sans transition-[5000ms]">
              Watch Video
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-auto mb-auto align-middle">
      <img class="w-5/6" alt="" src="assets/img/hero-img.png" />
    </div>
  </div>
  <div class="">
    <div class="text-center mt-14 space-y-4">
      <h1
        class="text-xl tracking-widest text-gray-600 font-thin justify-center"
      >
        ABOUT US
      </h1>
      <h1
        class="text-2xl tracking-wider font-['Poppins'] font-bold text-gray-700 justify-center"
      >
        Learn More About Us
      </h1>
    </div>
    <div class="grid grid-cols-2 px-44 py-11 space-x-8">
      <div class="">
        <img class="" alt="" src="assets/img/about.jpg" />
      </div>
      <div class="space-y-7">
        <div class="mb-auto mt-auto">
          <h1 class="text-gray-600 tracking-wider font-serif italic text-lg  ">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit. Ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate trideta storacalaperda mastiro dolore eu
            fugiat nulla pariatur. Ullamco laboris nisi ut aliquip ex ea giat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident
          </h1>
        </div>
        <div class="">
          <img class="w-[12cm]" alt="" src="assets/img/about-2.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-[#EEEEEE] h-[60vh] p-52 flex items-center">
  <div class="container w-[30%]">
    <div class="container bg-red-700 w-96 h-96 p-9 space-y-3">
      <h1 class="text-white font-extrabold text-4xl">Why Choose Yummy?</h1>
      <p class="text-white italic">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Duis aute irure
        dolor in reprehenderit Asperiores dolores sed et. Tenetur quia eos.
        Autem tempore quibusdam vel necessitatibus optio ad corporis.
      </p>
      <button
        class="transition-all px-6 py-2 rounded-3xl bg-red-500 text-white text-sm font-bold hover:shadow-2xl hover:shadow-red-500 hover:text-red-600 hover:bg-white"
      >
        Book a Table
      </button>
    </div>
  </div>

  <div class="container w-[70%] grid grid-cols-3 space-x-3">
    <div
      class="container w-72 h-80 bg-white space-y-5 p-9 hover:scale-110 transition-all cursor-pointer"
    >
      <img class="w-16 ml-auto mr-auto" src="assets/img/logo4.png" alt="" />
      <h1 class="text-gray-900 text-xl text-center">
        Corporis voluptates officia eiusmod
      </h1>
      <h2 class="text-sm text-gray-900 text-center">
        Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris
        nisi ut aliquip
      </h2>
    </div>

    <div
      class="container w-72 h-80 bg-white space-y-5 p-9 hover:scale-110 transition-all cursor-pointer"
    >
      <img class="w-16 ml-auto mr-auto" src="assets/img/logo2.png" alt="" />
      <h1 class="text-gray-900 text-xl text-center">
        Corporis voluptates officia eiusmod
      </h1>
      <h2 class="text-sm text-gray-900 text-center">
        Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris
        nisi ut aliquip
      </h2>
    </div>

    <div
      class="container w-72 h-80 bg-white space-y-5 p-9 hover:scale-110 transition-all cursor-pointer"
    >
      <img class="w-16 ml-auto mr-auto" src="assets/img/logo3.png" alt="" />
      <h1 class="text-gray-900 text-xl text-center">
        Corporis voluptates officia eiusmod
      </h1>
      <h2 class="text-sm text-gray-900 text-center">
        Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris
        nisi ut aliquip
      </h2>
    </div>
  </div>
</div>

<div class="space-y-5">
  <div class="text-center mt-14 space-y-4">
    <h1 class="text-lg tracking-widest text-gray-600 font-thin justify-center">
      OUR MENU
    </h1>
    <h1
      class="text-2xl tracking-wider font-['Poppins'] font-bold text-gray-700 justify-center"
    >
      CHECK OUR YUMMY MENU
    </h1>
  </div>
  <div class="tab text-center">
    <ul class="flex space-x-4 justify-center">
      <li
        class="tablinks text-gray-600 text-lg font-thin font-['Poppins'] hover:text-red-600 hover:underline cursor-pointer  " onclick="openTab(event, 'Tab1') "
      >
        Starters
      </li>
      <li
        class= "tablinks text-gray-600 text-lg font-thin font-['Poppins'] hover:text-red-600 hover:underline cursor-pointer" onclick="openTab(event, 'Tab2')"
      >
        Breakfast
      </li>
      <li
        class="tablinks text-gray-600 text-lg font-thin font-['Poppins'] hover:text-red-600 hover:underline cursor-pointer" onclick="openTab(event, 'Tab3')"
      >
        Lunch
      </li>
      <li
        class="tablinks text-gray-600 text-lg font-thin font-['Poppins'] hover:text-red-600 hover:underline cursor-pointer" onclick="openTab(event, 'Tab4')"
      >
        Dinner
      </li>
    </ul>
  </div>

<app-menu-items-starters></app-menu-items-starters>
<app-menu-items-breakfast></app-menu-items-breakfast>
<app-menu-items-lunch></app-menu-items-lunch>
<app-menu-items-dinner></app-menu-items-dinner>

  
  <div class="bg-[#EEEEEE]">
    <div class="text-center space-y-4 py-7">
      <h1
        class="text-lg tracking-widest text-gray-600 font-thin justify-center"
      >
        CHEFS
      </h1>
      <h1
        class="text-2xl tracking-wider font-bold text-gray-700 justify-center"
      >
        OUR PROFFESIONAL CHEFS
      </h1>
    </div>

    <div class="flex justify-evenly p-10">
      <div
        class="container w-[11cm] h-[16cm] shadow-gray-200 rounded-lg bg-white hover:scale-105 transition-all space-y-4"
      >
        <img src="assets/img/chefs/chefs-1.jpg" alt="" />
        <div class="text-center space-y-2 px-4">
          <h1 class="text-xl text-gray-700 font-bold font-['Poppins']">
            Walter White
          </h1>
          <h2 class="font-thin text-gray-700 font-['Poppins']">Master Chef</h2>
          <p class="text-gray-500 text-sm italic font-['Poppins']">
            Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur
            ipsa quae aut. Ipsum exercitationem iure minima enim corporis et
            voluptate.
          </p>
        </div>
      </div>
      <div
        class="container w-[11cm] h-[16cm] bg-white shadow-gray-200 rounded-lg hover:scale-105 transition-all space-y-4"
      >
        <img src="assets/img/chefs/chefs-2.jpg" alt="" />
        <div class="text-center space-y-2 px-4">
          <h1 class="text-xl text-gray-700 font-bold font-['Poppins']">
            Walter White
          </h1>
          <h2 class="font-thin text-gray-700 font-['Poppins']">Master Chef</h2>
          <p class="text-gray-500 text-sm italic font-['Poppins']">
            Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur
            ipsa quae aut. Ipsum exercitationem iure minima enim corporis et
            voluptate.
          </p>
        </div>
      </div>
      <div
        class="container w-[11cm] h-[16cm] bg-white shadow-gray-200 hover:scale-105 rounded-lg transition-all space-y-4"
      >
        <img src="assets/img/chefs/chefs-3.jpg" alt="" />
        <div class="text-center space-y-2 px-4">
          <h1 class="text-xl text-gray-700 font-bold font-['Poppins']">
            Walter White
          </h1>
          <h2 class="font-thin text-gray-700 font-['Poppins']">Master Chef</h2>
          <p class="text-gray-500 text-sm italic font-['Poppins']">
            Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur
            ipsa quae aut. Ipsum exercitationem iure minima enim corporis et
            voluptate.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
